/*头部样式*/
.header{
	width:100%;
	height:100px;
}
/*头部与中部线样式*/
.linD{
	width:100%;
	height:5px;
	background: #f8f8f8;
}
/*内容样式*/
.section{
	width:100%;
}
/*input标签样式*/
.ipt{
	width: 300px;
	height: 50px;
}
/*input下span样式*/
.iptS{
	width: 100px;
	height:50px;
	line-height: 50px;
	color: #333;
	top:0px;
	left:0px;
}
/*向右考的span标签*/
.iptS_R{
	width: 100px;
	height:50px;
	line-height: 50px;
	background: #ddd;
	cursor:pointer;
	left:303px;
	top:2px;
}
/*装input上盒子样式*/
.btnS{
	width: 400px;
	height:50px;
	background: #e22;
	cursor: pointer;
	border: 0;
	color: #fff;
}
/*企业注册样式*/
.otherzc{
	width:300px;
}
.otherzc_B{
	width:300px;
	height:50px;
	line-height: 50px;
}
/*section中间线样式*/
.Sline{
  height:550px;
  width:1px ;
  background: #ddd;
}
/*企业注册下方线样式*/
.Oline{
	width: 180px;
	height:1px;
	background: #ddd;
}
/*footer上方线样式*/
.Aline{
	width:90%;
	height: 1px;
	background: #ddd;
}
/*底部样式*/
.footer{
	width:100%;
	height:150px;
	
}
.footer,.footer a{
	font-size: 14px;
	color: #ddd;
}
/*版权样式*/
.Fem{
	height:30px;
	line-height: 30px;
	width: 400px;
	color:#ddd;
}
/*图标大小*/
.Ifont{
	font-size:50px !important;
}
/*头部logo*/
.img-bg{
	display:block;
	width:160px;
	height:50px;
	background:url(../img/icon.png) no-repeat 0px 0px;
}
/*输入框字体颜色*/
.ipt{
	color:#ddd;
}
/*右边固定定位盒子*/
#right_box{
	width: 34px;
	height:136px;
	position: fixed;
	right: 1px;
	top:200px;
	background: url(../img/icon.png) no-repeat;
	background-position: -367px 0;
}
/*页面高度为500时固定盒子样式*/
@media only screen and (max-height: 500px) {
	#right_box{
		top:0px;
	}
}
#right_box:hover{
	background-position: -333px 0;
}
/*手机号输入框图标*/
.iptS_a{
	display: inline-block;
	width:15px;
	height:15px;
	background: url(../img/icon.png) no-repeat;
	background-position: -2px -151px;
}
/*输入框描述样式*/
.ipt-ms{
	display: none;
	height:20px;
	line-height:20px;
	top:59px;
	left:0;
	color:#ddd;
}
/*输入框描述背景*/
.ipt-ms-bg{
	display: inline-block;
	width: 17px;
	height:17px;
	background: url(../img/icon.png) no-repeat;
	background-position:0px -100px;
}
/*输入框右边图标*/
.ipt-right{
	display: none;
	width:17px;
	height:17px;
	top:17px;
	right:17px;
	background: url(../img/icon.png) no-repeat;
	background-position: 0px -117px;
}
/*企业注册a标签样式*/
.otherzc_B a{
	display: block;
	width:170px;
	height:40px;
}
/*企业注册a标签样式背景*/
.otherzc_B_i{
	display: inline-block;
	width:30px;
	height:30px;
	background: url(../img/icon.png) no-repeat 0 -50px;
}
/*其他注册a标签背景*/
.otherzc_B_iT{
	display: inline-block;
	width:30px;
	height:30px;
	background: url(../img/icon.png) no-repeat -50px -50px;
}
/*手机背景图*/
.otherzc_B_ph{
	width: 213px;
	height:270px;
	background: url(../img/phone.jpg);
}